@font-face {
    font-family: 'Baby Wildy Personal Use';
    src: url("www.ashleycheong.com/fonts/baby_wildly/baby_wildy_personal_use-webfont.woff2”) format('woff2'),
         url("www.ashleycheong.com/fonts/baby_wildly/baby_wildy_personal_use-webfont.woff”) format('woff');
    font-weight: normal;
    font-style: normal;

}
